GeoFence.json
[{"id":"c023836f.8a4ab","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"7839a259.6ae86c","type":"mqtt in","z":"c023836f.8a4ab","d":true,"name":"","topic":"owntracks/location/iphone","qos":"2","datatype":"auto","broker":"37a1e3ca.8ac14c","x":130,"y":220,"wires":[["fda4fe23.efbbe"]]},{"id":"fda4fe23.efbbe","type":"function","z":"c023836f.8a4ab","name":"","func":"var payload=JSON.parse(msg.payload.body);\nreturn {payload}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":220,"wires":[["c296428e.5421c","c2b62022.845fa","171b1b42.ae62b5","a2dceaef.4099c8","fa5eed06.fa419"]]},{"id":"2f6a8621.80dfba","type":"change","z":"c023836f.8a4ab","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"location.inarea","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":220,"wires":[["b04f4.17dbdb0d","f92c9d48.8accd","401eeec3.cd6"]]},{"id":"56ea4d76.d71404","type":"switch","z":"c023836f.8a4ab","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":220,"wires":[["fc817354.c3a1d"],["f1d0321a.c2a75"]]},{"id":"b04f4.17dbdb0d","type":"rbe","z":"c023836f.8a4ab","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":810,"y":220,"wires":[["56ea4d76.d71404"]]},{"id":"fc817354.c3a1d","type":"change","z":"c023836f.8a4ab","name":"warning","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":160,"wires":[["a1bbaa3c.b9a538"]]},{"id":"f1d0321a.c2a75","type":"change","z":"c023836f.8a4ab","name":"safe notice","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"YOU ARE IN COVID SAFE AREA\", stay home keep destance","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":240,"wires":[["a268f462.f8fd18"]]},{"id":"fb276a9d.c65c88","type":"change","z":"c023836f.8a4ab","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"location.inarea","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":460,"wires":[["30048a6f.b263e6","9be268b8.ac6e68","27314934.94b546"]]},{"id":"fc52d74b.56a518","type":"switch","z":"c023836f.8a4ab","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":950,"y":460,"wires":[["5d032523.4d391c"],["c51f6150.6cd1b"]]},{"id":"30048a6f.b263e6","type":"rbe","z":"c023836f.8a4ab","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":830,"y":460,"wires":[["fc52d74b.56a518"]]},{"id":"5d032523.4d391c","type":"change","z":"c023836f.8a4ab","name":"warning","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":400,"wires":[["b61ac64e.23a298"]]},{"id":"c51f6150.6cd1b","type":"change","z":"c023836f.8a4ab","name":"safe notice","rules":[{"t":"set","p":"payload","pt":"msg","to":"YOU LEFT THE RED ZONE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":480,"wires":[["c84503b8.a632"]]},{"id":"448c91b9.dca75","type":"change","z":"c023836f.8a4ab","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"location.inarea","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":620,"wires":[["f361ad6c.ce40f","f534598.04f2fa8","e068ffd3.8791d"]]},{"id":"18dcf01.3b7091","type":"switch","z":"c023836f.8a4ab","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":950,"y":620,"wires":[["404bc966.0f58b8"],["f84aa496.c8e788"]]},{"id":"f361ad6c.ce40f","type":"rbe","z":"c023836f.8a4ab","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":830,"y":620,"wires":[["18dcf01.3b7091"]]},{"id":"404bc966.0f58b8","type":"change","z":"c023836f.8a4ab","name":"warning","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":560,"wires":[["8da1b9ce.faf368"]]},{"id":"f84aa496.c8e788","type":"change","z":"c023836f.8a4ab","name":"safe notice","rules":[{"t":"set","p":"payload","pt":"msg","to":"YOU LEFT THE RED ZONE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":640,"wires":[["2ea7dc04.1ec7c4"]]},{"id":"1be65d48.b2f2b3","type":"change","z":"c023836f.8a4ab","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"location.inarea","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":780,"wires":[["af880afb.290948","4cb014dc.0e460c","3f51c991.d75646"]]},{"id":"c9027655.94fa28","type":"switch","z":"c023836f.8a4ab","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":950,"y":780,"wires":[["7ff48833.7d9b58"],["bfe70edf.77e15"]]},{"id":"af880afb.290948","type":"rbe","z":"c023836f.8a4ab","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":830,"y":780,"wires":[["c9027655.94fa28"]]},{"id":"7ff48833.7d9b58","type":"change","z":"c023836f.8a4ab","name":"warning","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":720,"wires":[["4e1ba3da.ed138c"]]},{"id":"bfe70edf.77e15","type":"change","z":"c023836f.8a4ab","name":"safe notice","rules":[{"t":"set","p":"payload","pt":"msg","to":"YOU LEFT THE RED ZONE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":800,"wires":[["a104558e.03f1e8"]]},{"id":"f92c9d48.8accd","type":"debug","z":"c023836f.8a4ab","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":340,"wires":[]},{"id":"d65e9bef.aa21f8","type":"mqtt out","z":"c023836f.8a4ab","name":"","topic":"event","qos":"0","retain":"","broker":"37a1e3ca.8ac14c","x":1710,"y":240,"wires":[]},{"id":"401eeec3.cd6","type":"function","z":"c023836f.8a4ab","name":"","func":"if (msg.payload){\n    return {payload:true}\n}\nelse{\n    return {payload:false}\n        \n}\n    \n\n//return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":60,"wires":[["c5bb8c97.7483d"]]},{"id":"27314934.94b546","type":"function","z":"c023836f.8a4ab","name":"","func":"if (msg.payload){\n    return {payload:true}\n}\nelse{\n    return {payload:false}\n        \n}\n    \n\n//return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":360,"wires":[["c5bb8c97.7483d"]]},{"id":"e068ffd3.8791d","type":"function","z":"c023836f.8a4ab","name":"","func":"if (msg.payload){\n    return {payload:true}\n}\nelse{\n    return {payload:false}\n        \n}\n    \n\n//return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":540,"wires":[["c5bb8c97.7483d"]]},{"id":"3f51c991.d75646","type":"function","z":"c023836f.8a4ab","name":"","func":"if (msg.payload){\n    return {payload:true}\n}\nelse{\n    return {payload:false}\n        \n}\n    \n\n//return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":700,"wires":[["c5bb8c97.7483d"]]},{"id":"9be268b8.ac6e68","type":"debug","z":"c023836f.8a4ab","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":680,"y":540,"wires":[]},{"id":"f534598.04f2fa8","type":"debug","z":"c023836f.8a4ab","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":720,"wires":[]},{"id":"4cb014dc.0e460c","type":"debug","z":"c023836f.8a4ab","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":880,"wires":[]},{"id":"c296428e.5421c","type":"geofence","z":"c023836f.8a4ab","name":"Red zone 1","mode":"circle","inside":"both","rad":1490.8611583472962,"points":[],"centre":{"latitude":6.905359618536169,"longitude":79.89884376525877},"floor":"","ceiling":"","worldmap":false,"outputs":1,"x":490,"y":220,"wires":[["2f6a8621.80dfba","f862e50b.580178"]]},{"id":"c2b62022.845fa","type":"geofence","z":"c023836f.8a4ab","name":"Red Zone 2","mode":"circle","inside":"both","rad":5757.818030728637,"points":[],"centre":{"latitude":6.522730037335419,"longitude":80.11436462402344},"floor":"","ceiling":"","worldmap":false,"outputs":1,"x":490,"y":460,"wires":[["fb276a9d.c65c88"]]},{"id":"171b1b42.ae62b5","type":"geofence","z":"c023836f.8a4ab","name":"Red Zone 3","mode":"circle","inside":"both","rad":3273.3889660169143,"points":[],"centre":{"latitude":7.291021616043007,"longitude":80.63698768615723},"floor":"","ceiling":"","worldmap":false,"outputs":1,"x":490,"y":620,"wires":[["448c91b9.dca75"]]},{"id":"a2dceaef.4099c8","type":"geofence","z":"c023836f.8a4ab","name":"Red Zone 4","mode":"circle","inside":"both","rad":15444.478251583121,"points":[],"centre":{"latitude":7.294363218689945,"longitude":441.6847229003906},"floor":"","ceiling":"","worldmap":false,"outputs":1,"x":490,"y":780,"wires":[["1be65d48.b2f2b3"]]},{"id":"7c40e728.351ac8","type":"webhookrelay","z":"c023836f.8a4ab","buckets":"forwarding-config-OW0xuG","x":140,"y":100,"wires":[["fda4fe23.efbbe","d4d1afa9.a2f09"]]},{"id":"fa5eed06.fa419","type":"debug","z":"c023836f.8a4ab","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":540,"y":140,"wires":[]},{"id":"d4d1afa9.a2f09","type":"debug","z":"c023836f.8a4ab","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":440,"y":80,"wires":[]},{"id":"f862e50b.580178","type":"debug","z":"c023836f.8a4ab","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":520,"y":320,"wires":[]},{"id":"2e1f5557.9d87da","type":"function","z":"c023836f.8a4ab","name":"","func":"for (var i=0 ; i<msg.payload.length ; i++ ){\n    if(msg.payload[i]){\n        return{payload : 1};\n    }\n}\nreturn{payload : 0};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1450,"y":240,"wires":[["d65e9bef.aa21f8","c90bb01.371565"]]},{"id":"c90bb01.371565","type":"debug","z":"c023836f.8a4ab","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1620,"y":340,"wires":[]},{"id":"c5bb8c97.7483d","type":"join","z":"c023836f.8a4ab","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1380,"y":60,"wires":[["2e1f5557.9d87da","abede209.a048b"]]},{"id":"abede209.a048b","type":"debug","z":"c023836f.8a4ab","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1580,"y":60,"wires":[]},{"id":"a1bbaa3c.b9a538","type":"debug","z":"c023836f.8a4ab","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1350,"y":160,"wires":[]},{"id":"a268f462.f8fd18","type":"debug","z":"c023836f.8a4ab","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1360,"y":320,"wires":[]},{"id":"b61ac64e.23a298","type":"debug","z":"c023836f.8a4ab","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1400,"y":420,"wires":[]},{"id":"c84503b8.a632","type":"debug","z":"c023836f.8a4ab","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1440,"y":500,"wires":[]},{"id":"8da1b9ce.faf368","type":"debug","z":"c023836f.8a4ab","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1440,"y":580,"wires":[]},{"id":"2ea7dc04.1ec7c4","type":"debug","z":"c023836f.8a4ab","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1440,"y":660,"wires":[]},{"id":"4e1ba3da.ed138c","type":"debug","z":"c023836f.8a4ab","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1450,"y":740,"wires":[]},{"id":"a104558e.03f1e8","type":"debug","z":"c023836f.8a4ab","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1440,"y":820,"wires":[]},{"id":"37a1e3ca.8ac14c","type":"mqtt-broker","name":"","broker":"broker.hivemq.com","port":"1883","tls":"","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]